<button id="rzp-button1">
    Pay Now
</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

var options = {
    "key": "{{ key }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "name": "TrendMart",
    "order_id": "{{ payment.id }}",

    "handler": function(response){

        alert(
            "Payment Successful!"
        );

        window.location.href="/checkout/";
    }
};

var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function(e){

    rzp1.open();

    e.preventDefault();
}

</script>